<html>
	<head>
		<%= GMap.header %>
		<%= @map.to_html %>
		<% @map.header_width_height(600, 400)%>
	</head>
	<body>
		<a href="/login">login</a>
		<%= @map.div(:width => 600, :height => 400) %>
	</body>
</html>
